/* General */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

.fullscreen {
    height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

.display-none {
    display: none;
}

.spaced {
    letter-spacing: 1px;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}

.weight-light {
    font-weight: 300;
}
/* Section Backgrounds*/
#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/home-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/about-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    background-color: yellow;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/contact-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-color: lightblue;
}

/* Header */
.nav-toggle {
  position: fixed;
  top: 2vh;
  right: 2vh;
  font-size: calc(30px + 1vmin);
  z-index: 1;
  color: #e6e6e6;
}

#nav-menu {
  font-size: calc(10px + 1vmin);
  list-style: none;
  text-align: right;
  z-index: 2;
  right: 2vh;
  position: fixed;
  background-color: rgba(54, 69, 79, 0.8);
  top: calc(35px + 1vmin); 
}

.nav-link a {
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
  padding: 1.5vh;
  text-decoration: none;
}

.nav-link a:hover {
    color: #b08d57;
}

.nav-link {
  font-size: calc(10px + 1vmin);
  padding: 0px;
  color: #e6e6e6;
}

.nav-el-active {
  color: #b08d57;
}

.home-logo {
  padding-top: 35vh;
  width: 80%;
  height: auto;
}

#screen-lg-logo {
  display: none;
}
#header-cta-btn-wrapper {
    position: absolute;
    bottom: 10vmin;
}

#header-cta-btn {
    background-color: rgba(72, 72, 72, 0.3);
    color: #e6e6e6; 
    border: calc(1px + 0.3vmin) solid #e6e6e6;
    border-radius: 1px;
    text-align: center;
    max-width: 80vw;
    font-size: calc(12px + 1vmin);
    padding: calc(6px + 0.5vmin);
}

#header-cta-btn:hover {
    border-color: #b08d57;
    color: #b08d57;
}

.waves-effect.waves-gold .waves-ripple {
  background-color: rgba(176,141,87, 0.2);
}


/* Media Queries */
/**300px-xs-rotated-screen*/
@media only screen and (max-height: 300px) {
  #header-btn-anchor {
    bottom: 5vmin;
  }

  .home-logo {
    padding-top: 20vh;
    width: 80%;
    height: auto;
  }

  #screen-sm-logo {
    display: none; 
  }

  #screen-lg-logo {
    display: block;
  }
}
/** 575px-sm-screen*/
@media only screen and (min-width: 576px) {
  #screen-sm-logo {
    display: none; 
  }

  #screen-lg-logo {
    display: block;
  }
}