/* General */
body {
  margin: 0px;
}

.fullscreen {
    height: 100vh;
}

/* Section Backgrounds*/
#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/home-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/about-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    background-color: yellow;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/contact-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
.nav-toggle {
  position: fixed;
  top: 2vh;
  right: 2vh;
  font-size: calc(30px + 1vmin);
  z-index: 1;
  color: #e6e6e6;
}

.home-logo {
  padding-top: 35vh;
  width: 80%;
  height: auto;
}

#screen-lg-logo {
  display: none;
}


#footer {
    background-color: lightblue;
}

/* Media Queries */
/** 575px-sm-screen*/
@media only screen and (min-width: 576px) {
  #screen-sm-logo {
    display: none; 
  }

  #screen-lg-logo {
    display: block;
  }
}