/* General */
body {
  margin: 0px;
}

.fullscreen {
    height: 100vh;
}

/* Section Backgrounds*/
#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/home-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/about-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    background-color: yellow;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/contact-bg.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
.home-logo {
  padding-top: 35vh;
  width: 80%;
  height: auto;
}

#screen-lg-logo {
  display: none;
}


#footer {
    background-color: lightblue;
}

/* Media Queries */
/** 575px-md-screen*/
@media only screen and (min-width: 576px) {
  #screen-sm-logo {
    display: none;
  }

  #screen-lg-logo {
    display: block;
  }
}